* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #A2AD91;
    color: #3A2D32;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #3A2D32;
    color: #A2AD91;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1; 
    padding: 1.5rem;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #A2AD91;
}

a:hover {
    text-decoration: underline;
}


main section {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main section h2 {
    color: #3A2D32;
    margin-bottom: 1rem;
}

main section p {
    margin-bottom: 1rem;
    text-align: justify;
}


.theme-button,
.font-button {
    position: absolute;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}


.theme-button {
    right: 60px; 
}

.theme-button img {
    width: 24px;
    height: 24px;
}


.font-button {
    right: 10px; 
}

.font-button img {
    width: 24px;
    height: 24px;
}


.zoom-controls {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.zoom-controls label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.zoom-controls input[type="range"] {
    width: 100%;
    cursor: pointer;
}

.zoom-controls span {
    font-weight: bold;
}


body.dark-mode {
    background-color: #3A2D32;  
    color: #A2AD91;  
}

body.dark-mode header, body.dark-mode footer {
    background-color: #A2AD91;  
    color: #3A2D32;  
}

body.dark-mode .theme-button {
    background-color: #A2AD91;  
    color: #3A2D32;  
}

body.dark-mode a {
    color: #A2AD91;  
}

body.dark-mode a:hover {
    color: #0056b3;  
}


body.dark-mode section {
    background-color: #000000;  
    color: #ffffff; 
}


body.dark-mode nav ul {
    background-color: #A2AD91;  
    padding: 1rem;
}

body.dark-mode nav a {
    color: #3A2D32;  
}

body.dark-mode nav a:hover {
    color: #fff;  
}


body.dark-mode section h2 {
    color: #ffffff;  
}

.documentos {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.documentos h2 {
    color: #3A2D32;
    margin-bottom: 1rem;
}

.documentos ul {
    list-style: none;
    margin: 1rem 0;
}

.documentos ul li {
    margin-bottom: 1rem;
}

.documentos ul li a {
    color: #3A2D32;
    font-weight: bold;
}

.documentos ul li a:hover {
    color: #0056b3;
}

.video-thumbnail {
    width: 100%; 
    max-width: 350px; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
    margin-bottom: 15px; 
}


.video-thumbnail:hover {
    transform: scale(1.05); 
}


.videos {
    margin-top: 20px;
}

.video-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    flex-wrap: wrap; 
}


.video {
    flex: 1;
    min-width: 300px; 
    text-align: center;
}

.video h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #3A2D32;
    font-weight: bold;
}

